<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body class="auth-body">
    <div class="form-container">
        <h2 class="auth-title">Вход в чат</h2>
        <form method="POST">
            <input class="auth-input" type="text" name="username" placeholder="Имя пользователя" required>
            <input class="auth-input" type="password" name="password" placeholder="Пароль" required>
            <button class="auth-button" type="submit">Войти</button>
        </form>
        <a class="auth-link" href="/register">Нет аккаунта? Зарегистрируйтесь</a>
    </div>
</body>
</html>