<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
</head>
<body class="auth-body">
    <div class="form-container">
        <h2 class="auth-title">Регистрация</h2>
        <form method="POST">
            <input class="auth-input" type="text" name="username" placeholder="Имя пользователя" required>
            <input class="auth-input" type="password" name="password" placeholder="Пароль" required>
            <button class="auth-button" type="submit">Зарегистрироваться</button>
        </form>
        <a class="auth-link" href="/login">Уже есть аккаунт? Войдите</a>
    </div>
</body>
</html>